export SWARMUI_HOST="0.0.0.0"
export SWARMUI_PORT="7801"
# Can be used to override the 'LaunchMode' server setting.
# Default: none
#export SWARMUI_LAUNCH_MODE="none"

# Can be used to override the 'Network.Host' server setting.
# Default: localhost
#export SWARMUI_HOST="-"

# Can be used to override the 'Network.Port' server setting.
# Default: 7801
#export SWARMUI_PORT="-"

# Set the local user's default UserID
# (for running in single-user mode, not useful in shared mode).
# Default: local
#export SWARMUI_USERID="-"

# Sets the minimum log level for ASP.NET web logger,as any of:
# Trace, Debug, Information, Warning, Error, Critical, None.
# Note 'information' here spams debug output.
# Default: warning
#export SWARMUI_ASPLOGLEVEL="-"

# Minimum SwarmUI log level, as any of:
# Debug, Info, Init, Warning, Error, None.
# 'Info' here is the normal usage data.
# Default: Info
#export SWARMUI_LOGLEVEL="-"

# If your settings file is anywhere other than the default,
# you must specify as a command line arg.
# The default value is relative to your --data_dir.
# Default: Data/Settings.fds
#export SWARMUI_SETTINGS="-"

# If enabled, blocks in-UI editing of server settings by admins.
# Settings cannot be modified in this mode without editing the settings file
# and restarting the server. Allowed values: true/false
# Default: false
#export SWARMUI_LOCKSETTINGS="-"

# Override the default data directory.
# Default: Data
#export SWARMUI_DATADIR="-"

# If your backends file is anywhere other than the default,
# you must specify as a command line arg. The default value is relative to your --data_dir.
# Default: Data/Backends.fds
#export SWARMUI_BACKENDSFILE="-"

# If specified, will be used as the path to an ngrok executable,
# and will automatically load and configure ngrok when launching,
# to share your UI instance on a publicly accessible URL.
# Default: (None)
#export SWARMUI_NGROK_PATH="-"

# If specified, sets an ngrok basic-auth requirement to access.
# Default: (None)
#export SWARMUI_NGROK_BASIC_AUTH="-"

# If specified, will be used as the path to an cloudflared executable,
# and will automatically load and configure TryCloudflare when launching,
# to share your UI instance on a publicly accessible URL.
# Default: (None)
#export SWARMUI_CLOUDFLARED_PATH="-"

# If specified, sets the proxy (ngrok/cloudflared) region. If unspecified, defaults to closest.
# Default: (None)
#export SWARMUI_PROXY_REGION="-"

# If specified, adds additional args to the proxy launch.
# Use a . as the first symbol (parser hackaround).
# For example, --proxy-added-args ".--my-arg --arg -argy arg"
# Default: (None)
#export SWARMUI_PROXY_ADDED_ARGS="-"

# Can be development or production to set what ASP.NET Web Environment to use.
# Development gives detailed debug logs and errors,
# while Production is optimized for normal usage.
# Default: Production
#export SWARMUI_ENVIRONMENT="-"

# Any additional arguments you'd like to pass go here.
#export SWARMUI_EXTRA="-"

# Additional info can be found here: https://github.com/mcmonkeyprojects/SwarmUI/blob/master/docs/Command%20Line%20Arguments.md
