[Unit]
Description=Funkwhale celery beat process
After=redis.service postgresql.service
PartOf=funkwhale.target

[Service]
User=media
WorkingDirectory=/var/www/funkwhale/api
EnvironmentFile=/var/www/funkwhale/config/.env

ExecStart=/var/www/funkwhale/venv/bin/celery \
    --app funkwhale_api.taskapp \
    beat \
    --loglevel INFO

[Install]
WantedBy=multi-user.target
