[Unit]
Description=Ollama Service
After=network-online.target

[Service]
ExecStart=/usr/bin/ollama serve
User=genai
Group=genai
Restart=always
RestartSec=3
Environment="CUDA_VISIBLE_DEVICES=-1"
Environment="PATH=$PATH"

[Install]
WantedBy=default.target
